/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4 mars 2022, 03:32:34
    Author     : Asus
*/
#anchor{
    -fx-background-color: linear-gradient(to right bottom,#90EE90,#D0F0C0);
}

.table-view {
    -fx-background-color : transparent;
    -fx-border-color : #1e85f1;
    -fx-text-fill : #1e85f1;
}

.table-view .column-header-background {
    -fx-background-color : transparent;
    -fx-border-color : #1e85f1;
}

.table-view .column-header, .table-view .filler {
     -fx-background-color : transparent;
}


.table-row-cell:even{
    -fx-background-color : transparent;
}


